<div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <label> Product Name:</label>
                        <input type="text" class="form-control" ng-model="$root.selectedProduct.name" name="name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> Price:</label>
                        <input type="number" class="form-control" ng-model="$root.selectedProduct.price" name="price">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> Image:</label>
                        <input type="text" class="form-control" ng-model="$root.selectedProduct.img" name="img">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> Description:</label>
                        <textarea type="textarea" class="form-control" ng-model="$root.selectedProduct.desc" name="desc"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> Category:</label>
                        <input type="text" class="form-control" ng-model="$root.selectedProduct.category" name="category">
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success" ng-click="save()">Save</a>
                        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                    </div>
                </div>
            </div>
        </div>