<div class="row">
            <div class="col-md-3">
                <div class="well">

                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <i class="icon-shopping-cart"></i>
                            <!--							3 item - $999.99-->
                            {{cart.size()}} - ${{cart.total()}}
                            <b class="caret"></b></a>
                        </a>
                        <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
                            <p ng-repeat="product in cart.products">{{product.product.name}} x {{product.quantity}}<span class="pull-right">${{product.product.price * product.quantity}}</span></p>
                            <a class="btn btn-primary" ng-click="openCart()">Cart</a> <a class="btn btn-success" ng-click="checkout()">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-5">
                        <div class="thumbnail">
                            <img src="{{$root.selectedProduct.img}}" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h4>{{$root.selectedProduct.name}}</h4>
                        <p>{{$root.selectedProduct.desc}}</p>
                        <h4>${{$root.selectedProduct.price}}</h4>
                        <form>
                            <div class="row">
                                <label>
                                    <div class="col-md-1">Qty</div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="quantity" />
                                    </div>
                                </label>
                                <div class="col-md-4">
                                    <button class="btn btn-primary" ng-click="cart.add($root.selectedProduct, quantity)">Add to Cart</button>
                                </div>

                            </div>
                            </br>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <ul class="nav nav-tabs" id="tabs">
                            <li class="active"><a href="">Description</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="description">
                                <p> {{$root.selectedProduct.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>