<html>
  
    <head>
        <title>Architect - 404</title>
        <link rel="stylesheet" href="{{ app.base_url ~ '/assets/css/builder.css' }}">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:100,400,500,600,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body id="not-found">

        <div class="align">
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
            <p>Sorry, we could not find the page your requested!</p>
            <a href="/" class="btn btn-primary btn-block"><i class="fa fa-chevron-left"></i> Take me home</a>
        </div>

    </body>

</html>
  
  


