<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Responsive Web Mobile - Ecommerce</title>

    <!-- Included Bootstrap CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!--	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />-->

    <!-- Includes FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />

    <!-- Css -->
    <link rel="stylesheet" href="css/styles.css" />

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/app.js"></script>
    <!--	<script src="js/script.js"></script>-->

</head>

<body ng-app="shop">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div>
                <ul class="nav navbar-nav navbar-tabs dash-nav-tabs">
                    <li><a href="#">Shop</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-tabs dash-nav-tabs navbar-right">
                    <li><a href="#adminModal" data-toggle="modal">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" ui-view>
        <div class="row" ng-controller="AdminController">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <label> Product Name:</label>
                        <input type="text" class="form-control" ng-model="$root.selectedProduct.name" name="name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> Price:</label>
                        <input type="number" class="form-control" ng-model="$root.selectedProduct.price" name="price">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> Image:</label>
                        <input type="text" class="form-control" ng-model="$root.selectedProduct.img" name="img">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> Description:</label>
                        <textarea type="textarea" class="form-control" ng-model="$root.selectedProduct.desc" name="desc"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> Category:</label>
                        <input type="text" class="form-control" ng-model="$root.selectedProduct.category" name="category">
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success" ng-click="save()">Save</a>
                        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" ng-controller="LoginController">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="adminModalLabel">Admin Log in</h4>
                </div>
                <div class="modal-body" ng-hide="$root.isAdmin">
                    <form class="form-inline">
                        <div class="form-group">
                            <label> Username:</label>
                            <input type="text" class="form-control" ng-model="username" name="username">
                        </div>
                        <div class="form-group">
                            <label> Password:</label>
                            <input type="password" class="form-control" ng-model="password" name="password">
                        </div>
                    </form>
                </div>
                <div class="modal-body" ng-show="$root.isAdmin">
                    Already logged in!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" ng-click="login()" ng-if="!$root.isAdmin">Log in</button>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <footer id="footer" class="vspace20">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Info</h4>
                    <ul class="nav nav-stacked">
                        <li><a href="">Sell Conditions</a>
                            <li><a href="">Shipping Costs</a>
                                <li><a href="">Shipping Conditions</a>
                                    <li><a href="">Returns</a>
                                        <li><a href="">About Us</a>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>Location and Contacts</h4>
                    <p><i class="icon-map-marker"></i>&nbsp;I do not Know Avenue, A City</p>
                    <p><i class="icon-phone"></i>&nbsp;Phone: 234 739.126.72</p>
                    <p><i class="icon-print"></i>&nbsp;Fax: 213 123.12.090</p>
                    <p><i class="icon-envelope"></i>&nbsp;Email: info@mydomain.com</p>
                    <p><i class="icon-globe"></i>&nbsp;Web: http://www.mydomain.com</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>&copy; Copyright 2015.&nbsp;<a href="#">Privacy</a>&nbsp;&amp;&nbsp;<a href="#">Terms and Conditions</a></p>
                </div>
                <div class="col-md-6">
                    <a class="pull-right" href="" target="_blank">credits by Random Name</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
